# ignore swap files
*swp
plugin_template/*swp
# ignore compiled python files
*pyc
plugin_template/*pyc
.idea
.coverage
.noseids
nohup.out

# ignore the help build dir
help/build
.flake8
.gitignore
.venv
.vscode/

