*.swp
*.pyc
.idea
.coverage
.noseids
nohup.out
.flake8
.gitignore
.venv
.vscode
.env
.qgis-settings
.pytest_cache
__pycache__
pluginbuilder4/help/doctrees/
pluginbuilder4/help/.buildinfo
pluginbuilder4/help/.buildinfo.bak