# qgis-plugin-ci configuration
# See https://opengisch.github.io/qgis-plugin-ci/
plugin_path: ${TemplateModuleName}
github_organization_slug: ${TemplateGitHubOrg}
project_slug: ${TemplateProjectSlug}
