# coding=utf-8
"""DockWidget tests for ${TemplateClass}DockWidget."""

import pytest
from qgis.PyQt.QtWidgets import QDockWidget

from ${TemplateModuleName}_dockwidget import ${TemplateClass}DockWidget


@pytest.fixture
def dockwidget(qgis_app):
    widget = ${TemplateClass}DockWidget(None)
    yield widget
    widget.close()


def test_dockwidget_is_qdockwidget(dockwidget):
    """The generated dockwidget is a QDockWidget instance."""
    assert isinstance(dockwidget, QDockWidget)


def test_dockwidget_has_closing_signal(dockwidget):
    """The dockwidget exposes a closingPlugin signal."""
    assert hasattr(dockwidget, "closingPlugin")
